/**************** markdown chat styling */
.markdown-content h1 {
    font-size: 22px; /* Maximum size for h1 */
    font-weight: bold;
    padding-bottom: 10px; /* Add some space below the header */
}

.markdown-content h2 {
    font-size: 20px; /* Slightly smaller for h2 */
    font-weight: bold;
    padding-bottom: 10px; /* Add some space below the header */
}

.markdown-content h3 {
    font-size: 18px; /* Smaller for h3 */
    font-weight: bold;
    padding-bottom: 10px; /* Add some space below the header */
}

/* Continue for other header levels as needed */
.markdown-content h4 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px; /* Add some space below the header */
}

.markdown-content h5 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px; /* Add some space below the header */
}

.markdown-content h6 {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px; /* Add some space below the header */
}

.markdown-content p {
    font-size: 15px;
}


/**************** Buttons styling */
/* Style for the normal state of the button */
#submitButton {
    background-color: #28a745; /* Green background */
    color: white; /* White text color for contrast */
    /* Other styling as needed */
}

/* Style for the disabled state of the button */
#submitButton:disabled {
    background-color: #cccccc !important; /* Gray background for disabled state */
    color: #666666 !important; /* Darker text color for contrast */
    /* Other styling for disabled state as needed */
}


/**************** Elements */
.sidebar {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    z-index: 1000;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: width 0.3s;
}

.sidebar-title {
    color: #28a745;
    margin-bottom: 5px;
}

.collapse-button {
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.chat-container {
    overflow-y: auto;
    height: calc(100% - 100px);
    margin-bottom: 20px;
    font-size: 16px;
}

.chat-element {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

/* Style for question type */
.question {
    background-color: #d1e7dd;
    text-align: right;
}

/* Style for other types */
.other {
    background-color: #f0f0f0;
    text-align: left;
}


.chat-input {
    width: 240px; 
    margin-right: 10px;
    border: 1px solid #28a745;
    outline-color: #28a745;
    padding: 5px;
    border-radius: 4px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

.input-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

/* Add more CSS for other elements as needed */
